<% content_for(:title, t(".title")) %>
<h1 class="text-center"><%= t(".title") %></h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="search-form">
      <p>チャンネルの絞り込み</p>
      <div class="row">
        <%= form_with model: @search_channels_form, scope: :q, url: channels_path, method: :get do |f| %>
          <div class="col-md-4 col-md-offset-1 form-group">
            <%= f.label :name, "チャンネル名" %>
            <%= f.search_field :name, class: "form-control" %>
          </div>

          <div class="col-md-4 col-md-offset-2 form-group">
            <%= f.label :description, "内容" %>
            <%= f.search_field :description, class: "form-control" %>
          </div>

          <div class="col-md-4 col-md-offset-1 form-group">
            <%= f.label :category_title, "興味のあるジャンル" %>
            <%= f.select :category_title, Category.titles_i18n.invert.to_a, { include_blank: "興味のあるジャンル" }, class: "form-control" %>
          </div>

          <div class="col-md-4 col-md-offset-2 form-group">
            <%= f.label :users_generation, "登録ユーザの年齢" %>
            <%= f.select :users_generation, options_for_select(generations_hash, selected: @search_channels_form.users_generation), { include_blank: "年齢" }, class: "form-control" %>
          </div>

          <% if logged_in? %>
            <div class="col-md-6 col-md-offset-3 form-group">
              <%= f.hidden_field :follow_users, value: false, id: nil %>
              <%= f.hidden_field :following_user_ids, value: current_user.following_ids.join(','), id: nil %>
              <%= f.check_box :follow_users, { checked: @search_channels_form.follow_users }, true, false %>
              <%= f.label :follow_users, "フォローユーザーが登録しているチャンネルのみ表示", class: "form-label" %>
            </div>
          <% end %>

          <div class="col-md-6 col-md-offset-3">
            <div class="row">
              <div class="col-md-5"><button type="button" id="clear-btn" class="btn btn-defalult btn-block">クリア</button></div>
              <div class="col-md-5"><%= f.submit "検索", class: "btn btn-primary btn-block" %></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <% if @channels.length > 0 %>
      <span class="text-center"><%= paginate @channels, theme: 'bootstrap-5' %></span>
      <div class="channels"><%= render @channels %></div>
      <span class="text-center"><%= paginate @channels, theme: 'bootstrap-5' %></span>
    <% else %>
      <p class="not-found">検索結果が存在しません</p>
    <% end %>
  </div>
</div>