<% content_for(:title, t(".title")) %>
<% breadcrumb :best_channels_edit, current_user %>

<h1 class="text-center"><%= t(".title") %></h1>

<div class="row mt-30">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(url: best_channels_path, method: :patch) do |f| %>
      <% if @best_channels.count == 3 %>
        <% @best_channels.each_with_index do |best_channel, index| %>
          <div class="form-group">
            <%= label_tag "channel[best#{index+1}]", "好きなチャンネルBEST#{index+1}" %>
            <%= select_tag "channel[best#{index+1}]", options_from_collection_for_select(@user.channels, :id, :name, { selected: best_channel.id }), class:"form-control" %>
          </div>
        <% end %>
      <% else %>
        <% 3.times do |index| %>
          <div class="form-group">
            <%= label_tag "channel[best#{index+1}]", "好きなチャンネルBEST#{index+1}" %>
            <%= select_tag "channel[best#{index+1}]", options_from_collection_for_select(@user.channels, :id, :name), class:"form-control" %>
          </div>
        <% end %>
      <% end %>
      <%= link_to 'キャンセル', @user, class: "btn btn-default btn-block" %>
      <%= f.submit '更新する', class: "btn btn-primary btn-block" %>
    <% end %>
  </div>
</div>