<% content_for(:title, t(".title")) %>
<h1 class="text-center"><%= t(".title") %></h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= render 'shared/check_public', contents: "高評価動画" %>

    <%= form_with(url: popular_videos_path, method: :patch) do |f| %>
      <div class="setting-videos">
        <% @popular_videos.each do |popular_video| %>
          <div class="setting-video">
            <% video = Video.find(popular_video.video_id) %>
              <div class="submnail">
                <%= image_tag "http://img.youtube.com/vi/#{video.video_id}/hqdefault.jpg", size: '140x105' %>
              </div>
              <div>
                <h4 class="video-title"><%= "【#{video.title}】" %></h4>
                <h4><%= "チャンネル名:『#{video.channel.name}』" %></h4>              
              </div>
              <div class="check-public">
                <%= label_tag "is_public#{popular_video.id}" do %>
                  <%= check_box_tag "is_public#{popular_video.id}", true, false, checked: popular_video.is_public, class: "is_public" %>
                  <span>公開設定にする</span>
                <% end %>
              </div>
          </div>
        <% end %>
      </div>
      <%= f.submit "設定する", class: "btn btn-primary btn-block mt-30" %>
    <% end %>
  </div>
</div>