<div id="content-<%= content.id %>" class="row user-content">
  <div class="col-md-6 text-center">
    <iframe width="336" height="189" src=<%= content.decorate.youtube_url(content.video_url) %> title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <div class="col-md-6 post-contents">
    <%= link_to content do %>
      <p>動画タイトル:<%= content.video.title %></p>
    <% end %>
    <p>チャンネル名：<%= content.video.channel.name %></p>
    <p>評価：<%= content.decorate.rating(content.rating) %></p>
    <p id="content-feedback-<%= content.id %>">感想：<%= content.feedback %></p>
    <%= link_to channels_user_path(content.user) do %>
      <span id="user-name-<%= content.user.id %>" class="user-name"><%= "投稿者：#{content.user.name}" %></span>
    <% end %>
  </div>
  <% if current_user?(content.user) %>
    <%= link_to '#', class: "btn favorite-btn" do %>
      <i class="fa fa-heart" aria-hidden="true"></i>
      <span class="favorite-count">5</span>
    <% end %>
    <%= link_to "編集", edit_content_path(content), class: "btn btn-primary" %>
    <%= link_to "削除", content, data: { "turbo-method": :delete, turbo_confirm: "投稿を削除してよろしいですか?" }, class: "btn btn-danger" %>
  <% end %>
</div>

<hr>