<% if %w[show following follower].include?(action_name) %>
  <div class="col-md-10 col-md-offset-1">
    <div class="user-profile">
      <div class="user-status row">
        <div class="col-md-3 col-xs-6 text-center">
          <%= image_tag(@user.avatar_url, class: "img-circle avatar-image", size: '100x100') %>
          <h2 class="profile-name"><%= @user.name %></h2>
          <div class="following-link">
            <%= link_to "#{@user.following.size}フォロー中", following_user_path(@user) %>
            <%= link_to "#{@user.followers.size}フォロワー", follower_user_path(@user) %>
          </div>
        </div>
        <div class="col-md-6 col-xs-6">
          <p><%= @user.decorate.age_and_gereration %></p>
          <p><%= "興味のあるジャンル" if @user.categories %></p>
          <p><%= @user.decorate.interesting_category %></p>
        </div>
        <div class="col-md-3 col-xs-12">
          <% if (current_user?(@user) || admin_user?) && action_name == "show" %>
            <%= link_to "プロフィールを編集", edit_user_path(current_user), class: "btn btn-default btn-block" %>
            <%= link_to "好きなチャンネルの編集", edit_best_channels_path, id: "edit-best-channels", class: "btn btn-default btn-block" %>
            <%= link_to "好きな動画の編集", edit_best_videos_path, id: "edit-best-videos", class: "btn btn-default btn-block hidden" %>
            <%= link_to "ユーザーの削除", '#', data: { "turbo-method": :delete, turbo_confirm: "ユーザーの削除を行います。投稿やユーザープロフィールといったすべてのデータが削除されます。よろしいですか？" }, class: "btn btn-danger btn-block" unless guest_user? %>
          <% end %>
        </div>
      </div>
      <% if @user.profile.present? %>
        <div class="user-profile-text">
          <pre><%= @user.profile %></pre>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="col-md-10 col-md-offset-1 user-profile">
    <div class="user-status row">
      <%= link_to @user do %>
        <div class="col-md-3 text-center profile-link">
          <%= image_tag(@user.avatar_url, class: "img-circle avatar-image", size: '100x100') %>
          <h2 class="profile-name"><%= @user.name %></h2>
          <p class="profile-link-message">ユーザーのプロフィールを表示します</p>
        </div>
      <% end %>
      <div class="col-md-9">
        <%= render 'shared/google_login_btn' if current_user?(@user) %>
      </div>
    </div>
  </div>
<% end %>
