<% content_for(:title, "#{@user.name}のコンテンツ") %>

<div class="row">
  <%= render 'user_profile' %>
  <div class="col-md-10 col-md-offset-1 mt-30">
    <%= render 'user_link' %>

    <span class="text-center"><%= paginate @contents, theme: 'bootstrap-5' %></span>
    <%= render @contents %>
    <span class="text-center"><%= paginate @contents, theme: 'bootstrap-5' %></span>
  </div>
</div>
