<% content_for(:title, @user.name) %>
<% breadcrumb :user_show, @user %>

<div class="row">
  <%= render 'user_profile' %>
  
  <div class="col-md-10 col-md-offset-1">
    <ul class="nav nav-tabs nav-justified best-contents-link">
      <li role="presentation" id="best-channel-link" class="active"><%= link_to "好きなチャンネルBest3", '#' %></li>
      <li role="presentation" id="best-video-link" class=""><%= link_to "好きな動画Best3", '#' %></a></li>
    </ul>
    <div class="best-channels">
      <%= render partial: 'best_channels/best_channels', collection: @best_channels, as: 'best_channel' %>
    </div>
    <div class="best-videos hidden">
      <%= render partial: 'best_videos/best_videos', collection: @best_videos, as: 'best_video' %>
    </div>
  </div>
</div>