<% content_for(:title, @video.title) %>

<div class="row">
  <div class="col-md-10 col-md-offset-1 video-show">

    <h1 id="video-title-<%= @video.id %>" class="video-title"><%= @video.title %></h1>

    <div class="video-detail">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe src=<%= "https://www.youtube.com/embed/#{@video.video_id}" %> class="embed-responsive-item" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>

    <div class="video-description">
      <h2>動画の概要説明</h2>
      <p><%= @video.description %></p>
    </div>

    <div class="video-link">
      <ul class="nav nav-tabs nav-justified">
        <li role="presentation" id="video-comment-link" class=<%= "active" if @link == 'comment' %>><%= link_to "コメント一覧", video_path(@video) %></li>
        <li role="presentation" id="video-user-link" class=<%= "active" if @link == 'user' %>><%= link_to "高評価しているユーザー一覧", video_path(@video, link: 'user') %></li>
      </ul>
    </div>

    <div class="video-contents">
      <%= render 'video_comments/video_comments' if @link == 'comment' %>
      <%= render 'users/video_users' if @link == 'user' %>
    </div>
  </div>
</div>
