<div class="sidebar text-center">
  <nav class="navbar navbar-default">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation"><%= link_to "ユーザー一覧", users_path %></li>
      <li role="presentation"><%= link_to "チャンネル一覧", channels_path %></li>
      <li role="presentation"><%= link_to "高評価動画一覧", '#' %></li>
      <li role="presentation"><%= link_to "投稿一覧", '#' %></li>
      <li role="presentation"><%= link_to "新着コンテンツ一覧", '#' %></li>
    </ul>
  </nav>
</div>