<% content_for(:title, t(".title")) %>
<h1 class="text-center"><%= t(".title") %></h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="recent-contents-link">
      <ul class="nav nav-tabs nav-justified">
        <li role="presentation" id="channel-video-link" class=<%= "active" if @link == 'video' %>><%= link_to "最近高評価された動画", recent_content_path(link: 'video') %></li>
        <li role="presentation" id="channel-channel-link" class=<%= "active" if @link == 'channel' %>><%= link_to "最近登録されたチャンネル", recent_content_path(link: 'channel') %></li>
      </ul>
    </div>

    <div class="recent-contents">
      <%= render @recent_videos if @link == 'video' %>
      <% if @link == 'channel' %>
        <div class="channels">
          <%= render @recent_channels if @link == 'channel' %>
        </div>
      <% end %>
    </div>
  </div>
</div>