<div class="user-info">
  <%= link_to channels_user_path(content_comment.user) do %>
    <%= image_tag(content_comment.user.avatar_url, class: "img-circle", size: '50x50') %>
    <span id="user-name-<%= content_comment.user.id %>" class="user-name"><%= content_comment.user.name %></span>
  <% end %>
</div>
<p id="comment-body-<%= content_comment.id %>"><%= content_comment.body %></p>
<% if current_user?(content_comment.user) %>
  <%= link_to "編集", edit_content_comment_path(content_comment), class: "btn btn-primary" %>
  <%= link_to "削除", content_comment, data: { "turbo-method": :delete, turbo_confirm: "コメントを削除してよろしいですか?" }, class: "btn btn-danger" %>
<% end %>

<hr>