<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <%= favicon_link_tag('favicon.ico') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
    <%= render 'shared/google_analytics' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <div class="main">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2">
            <%= render 'shared/sidebar' %>
          </div>
          <div class="col-md-10">
            <div id="flash-message"><%= render 'shared/flash_message' %></div>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>